# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
conf.xml

#vscode
.vscode/

# DB
/guiabolso/src/main/resources/application.properties
